.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

@import url('https://fonts.googleapis.com/css?family=Asap');


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  font-family: 'Asap', sans-serif;
}

noScrollBody {

}

.App-link {
  color: #61dafb;
}

.darkenedBackground {
  background-color: black;
  opacity: 0.5;
  position: fixed;
  top: 0;
  width: 100%;
  height: 950px;
  z-index: 9000;
}

.loginModal {
  position:absolute;
  top: 150px;
  left: 30%;
  right: 30%;
  background-color: white;
  color: black;
  width: 40%;
  height: 300px;
  opacity: 1;
  z-index: 9001
}

.loginput {
    font-weight: bold;
    font-size: 0.5em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.enticingText {
  color: red;
}

.enticingText:hover {
  color:green;
  cursor: pointer;
}

.loginModal {
  border-radius: 15px;
  background-color: gray;
  height: 350px;
}

.loginModal p {
  font-size: 0.75em;
}

.loginModal button {
  margin: 5px;
  border-radius: 10px;
  background-color: darkgray;
}

.abortModalButton:hover {
  background-color: red;
}

.loginModalButton:hover {
  background-color: green;
}

.loginModal input{
  border-radius: 10px;
}

.loginModal input:focus{
  outline: 0px solid orange;  
  box-shadow: 0 0 0 3pt orange;
  border: none;
  color: transparent;
  text-shadow: 0 0 0 gray;
  padding: 3px;
  padding-left: 8px;
}